.container_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.eight_div{
    display: flex;
    flex-direction: row;
}
.colorBlack {
    background-color: burlywood;
}

.colorWhite {
    background-color: aliceblue;
}

.buttonStyle{
    height: 80px;
    width: 80px;
    padding: 5px;
}

.colorGreen{
    background-color: greenyellow;
}
#game{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

.hide{
    display: none;
}
.colorRed{
    background-color: red;
}
.colorBlue {
    background-color: aqua;
}
.colorCheck {
    background-color: royalblue;
}
.colorSelect {
    background-color: deeppink;
}
.colorMove {
    background-color: yellow;
}
.turn1{
    width:100%;
    color: blueviolet;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}
.turn2{
    width:100%;
    color: blueviolet;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}
.hide{
    display: none;
}
.prevfwd {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
#back {
    height: 50px;
    width: 30px;
    margin-right: 5%;
    background-color: red;
}
#fwd {
    height: 50px;
    width: 30px;
    margin-left: 5%;
    background-color: green;
}
#checkmate {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3%;
    color: red;
}
#check{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3%;
    color: red;
}
#player1{
    background-color: beige;
}
#player2{
    background-color: beige;
}
@media screen and (max-width :  1000px){

    .container_div{
    
        
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-top: 10%;
    

    }
    
.eight_div{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
}
.buttonStyle{
    height: 60px;
    width: 60px;
    padding: 1%;
   
}


#back {
    height: 50px;
    width: 30px;
    background-color: red;
    margin-left: 15%
}
#fwd {
    height: 50px;
    width: 30px;
    background-color: green;
    margin-left: 1%
}

}